$brand-icon-desktop: 32px ;
$brand-icon-mobile: 28px ;
$img-icon-dimension: 48px ;
$normal-margin-y: 1.5rem ;
$tree-width: 24rem ;

@mixin IconSetup($dimension) {
   width: $dimension ;
   height: $dimension;
   font-size: $dimension;
}

@mixin CardPadding($size){
   text-align: left !important;
   div.icon{
      margin-top: 0 !important;
      padding: $size/2 !important;
   }
   p{
      padding: $size !important;
   }
}

@mixin MarginXY($x, $y){
   margin-left: $x;
   margin-right: $x;
   margin-top: $y;
   margin-bottom: $y;
}

@mixin PaddingXY($x, $y){
   padding: $x $y ;
}