<mat-expansion-panel>
    <mat-expansion-panel-header class="data-header">
        <div class="data-header">
            Synonyms
        </div>
    </mat-expansion-panel-header>

    <mat-panel-description>
        
        <div class="synonym-container" *ngIf="synonyms; else nullDiv">
            <mat-chip-list aria-label="Commom Names">
                <div class="chip-container">
                    <mat-chip color="accent" selected *ngFor="let obj of synonyms" [matTooltip]=" 'by ' + obj.author ">
                        <span class="truncate">
                            {{ obj.name }}
                        </span>
                    </mat-chip>
                </div>
            </mat-chip-list>
        </div>
    
        <ng-template #nullDiv>
            <div class="none">
                Null
            </div>
        </ng-template>

    </mat-panel-description>

</mat-expansion-panel>