<div class="data-header">
    Sources
</div>
<div class="data-multiple-container">
    
    <div class="sources-container" *ngIf="sources; else nullDiv">

        <div class="flex-container" *ngFor="let i of sources">
            <div class="bullet">
                <img src="./assets/images/clover_bullet.png" alt="bullet" width="24" height="24">
            </div>
            <div class="source-list">
                <h3 class="source-name">{{ i.name | checkNull }}</h3>
                <p class="data-value">{{ i.citation | checkNull: true }}</p>
                <a color="accent" mat-flat-button [href]="i.url" target="_blank">Link to Source</a>
            </div>
        </div>

    </div>

    <ng-template #nullDiv>
        <div class="none">
            Null
        </div>
    </ng-template>
</div>