@import 'helper' ;

div.not-found-container{
    height: calc(100% - 64px) ;
    overflow-y: auto;
    position: relative;

    div.absolute-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        max-width: 70vw;
        text-align: center;

        div{
            mat-icon{
                @include IconSetup(64px) ;
                @include MarginXY(auto, 1rem) ;
            }
        }

        div.title{
            padding-top: 10px ;
            font-size: 50px;
            font-weight: bolder;
            height: 40px;
        }

        p.subtitle{
            font-size: 14px ;
            font-weight: bold;
        }
    }
}


@media (max-width: 599px){
    div.not-found-container{
        height: calc(100% - 54px);

        div.title{
            font-size: 35px !important;
        }
    }
}

.dark-title{
    background: linear-gradient(45deg, orange, red);
    background-clip: text;
    color: transparent;
}

.light-title{
    background-image: linear-gradient(45deg, blue, crimson);
    background-clip: text;
    color: transparent;
}