<div class="info-container">
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Genus
        </div>
        <div class="data-value">
            {{ info.genus }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Family
        </div>
        <div class="data-value">
            {{ info.family }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Year
        </div>
        <div class="data-value">
            {{ info.year }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Bibliography
        </div>
        <div class="data-value">
            {{ info.bibliography }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Author
        </div>
        <div class="data-value">
            {{ info.author }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Status
        </div>
        <div class="data-value">
            {{ info.status }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Rank
        </div>
        <div class="data-value">
            {{ info.rank }}
        </div>
    </div>
    
    <div class="property" [ngClass.xs]="{ 'property-xs': true }" [ngClass.sm]="{ 'property-sm': true }">
        <div class="data-header">
            Observations
        </div>
        <div class="data-value">
            {{ info.observations }}
        </div>
    </div>

</div>