<h1 mat-title>About Medclify</h1>

<mat-dialog-content>
    <h2>Motivation</h2>
    <div>
        <p>
            The motivation behind the project is the increase in demand of Ayurvedic medicines and also the approaching extinctions of the medicinal valued plants. Various diseases that can be cured with these are also vast in number. So these plants have to be identified and preserved. If an automatic recognition system is available for feature extraction and classification of medicinal plants from the images, then it will be comfortable.
        </p>
    </div>
    
    <h2>Techniques Used</h2>
    <div>
        <h3>
            Deep Learning
        </h3>
        <p>
            Deep learning is a class of machine learning in which a computational model learns to perform classification tasks directly from images. Higher accuracy, ability to handle huge volume of image data, inbuilt ability to use GPUs for parallel computation and availability of inbuilt pre-trained Convolutional Neural Networks contribute towards the popularity of deep learning.
        </p>

        <h3>
            Transfer Learning
        </h3>
        <p>
            Transfer learning is a machine learning method where a model developed for a task is reused as the starting point for a model on a second task. It is a popular approach in deep-learning where pre-trained models are used as a starting point rather than starting from scratch.
        </p>

        <h3>
            Inception ResNet V2
        </h3>
        <p>
            Inception-ResNet-v2 is a convolutional neural network that is trained on more than a million images from the ImageNet database. The network is 164 layers deep and can classify images into 1000 object categories.
        </p>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>