h1{
    font-weight: bolder;
}

h2{
    font-weight: bold;
}

h3{
    text-decoration: underline;
    text-underline-position: under ;
    font-size: 16px ;
    font-weight: bold;
}

p{
    font-size: 12px;
    padding: 5px ;
}